<h1>Steps Battle</h1>

<h2>Leader Board</h2>

<table>
    <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Duals Won</th>
        <th>Steps</th>
    </tr>
    <tr>
        <td>1</td>
        <td>mgutierrez0</td>
        <td>20</td>
        <td>1000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>mcoleman1</td>
        <td>14</td>
        <td>900</td>
    </tr>
    <tr>
        <td>3</td>
        <td>rwatson2</td>
        <td>10</td>
        <td>309</td>
    </tr>
</table>
