<div class="row">
  <div class="col-md-12 duelTitle">
    <h2>Time to Duel!!</h2>
  </div>
</div>

<div class="row">
  <!-- TODO: track wins -->
  <div class="col-md-3 currentUser">
    <p><%= @current_user.username %></p>
    <p><%= @current_user.health_points%></p>
  </div>

  <div class="col-md-4 col-md-offset-1 middleInfo">
    <p>What is happening right now? </p>
  </div>

  <div class="col-md-3 col-md-offset-1 opponentUser">
    <p><%= @opponent.username %></p>
    <p><%= @opponent.health_points%></p>
  </div>
</div>
