<div class='container-fluid'>
    <div class='row'>
            <!-- Side Bar -->
        <div class='col-sm-3 col-xs-5 sidebar'>
            <!-- Searh Bar -->
            <div class="input-group search">
                <input type="search" name="usersearch" placeholder="Enter a Username" class="form-control" >
                <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
            </div>
            <div class="instructions">
                <h4>How to Play</h4>
                <ol>
                    <li>Walk with your steps tracker (Fitbit, Jawbone, etc)</li>
                    <li>Upload your steps and change them into coins.</li>
                    <li>Use those coins to upgrade your items.</li>
                    <li>Battle other players and utterly defeat them.</li>
                    <li>The more you use your steps tracker and exercise, the more battles you win!</li>
                </ol>
            </div>
        </div>

            <!-- Rank Table -->
        <div class='col-sm-8 col-xs-6 leader chunk'>
            <h2>Leader Board</h2>

            <table class="table">
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Steps</th>
                </tr>

                <%count = 0%>
                <% @users.sort_by{|u| u.steps}.reverse.each do |u| %>
                     <% if count <= 8 %>
                         <tr>
                             <td><%= count += 1 %></td>
                             <td><%= link_to u.username, user_path(u) %></td>
                             <td><%= u.steps %></td>
                         </tr>
                     <% end %>
                 <% end %>
            </table>

        </div>
    </div>
</div>
