<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3 col-xs-5 sidebar'>
            <input type="search" name="usersearch" placeholder="Enter a Username">
            <input type="submit" value="Search">
        </div>

        <div class='col-sm-8 col-xs-6 leader'>
            <h2>Leader Board</h2>

            <table class="table">
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Steps</th>
                </tr>
                <%count = 0%>
                <% @users.sort_by{|u| u.steps}.reverse.each do |u| %>
                    <% if count < 8%>
                        <tr>
                            <td><%= count += 1 %></td>
                            <td><%= link_to u.username, user_path(u) %></td>
                            <td><%= u.steps %></td>
                        </tr>
                    <% end %>
                <% end %>
            </table>

        </div>
    </div>
</div>
