

<!-- FIXME: How do I make this page show, in the "Stuff over Here" column -->
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3 col-xs-5'>
            <h3><%= @user.username%></h3>
            <p><%=link_to "Edit Profile", edit_user_path(@user)%></p>
            <p>Steps: <%= @user.steps%></p>


            <input type="search" name="usersearch" placeholder="Enter a Username">
            <input type="submit" value="Search">
        </div>
        <div class='col-sm-8 col-xs-6'>
        </div>
    </div>
</div>
