@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

.logo a{
    text-decoration: none;
}

.profile{
    padding-top: 20px;  
    text-align: center;
}
