@import "bootstrap-sprockets";
@import "bootstrap";

          /*============COLOR variable============*/

$basefont: #fff;
$backgrd: #000;
$accentColor: #0099ff;
$oppGlow: rgb(255, 131, 0);
$currGlow: rgb(83, 250, 15);

          /* ============UNIVERSAL============ */

// *{
//   outline: 1px solid red;
// }
body {
  padding-top: auto;
  color: $basefont;
  background: rgb(53, 54, 54); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(53, 54, 54), $backgrd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(53, 54, 54), $backgrd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(53, 54, 54), $backgrd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(53, 54, 54), $backgrd); /* Standard syntax */
}



.header-boarder{
    background-color: $backgrd;
    height: 150px;
    padding: 0 auto;
    margin-left: 15px;
    margin-bottom: 20px;
      -webkit-border-bottom-left-radius: 8px;
      -moz-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
      -webkit-border-bottom-right-radius: 8px;
      -moz-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
      -webkit-box-shadow: 0px 0px 5px  $accentColor;
      -moz-box-shadow: 0px 0px 5px  $accentColor;
    box-shadow: 0px 0px 5px  $accentColor;
    text-align: center;
    .login{

      li{
        list-style: none;

      }
      a{
        text-decoration: none;
      }
    }
}

.logo {
  margin: 0px;
  a{
    text-decoration: none;
    font-size: 60px;
    font-family: 'Passion One', cursive;
    color: $basefont;
    padding: 20px;
    text-shadow: 0px 2px 3px #8b6c62;
  }
}
.login{
    margin-top: 20px;
    text-decoration: none;
    text-align: right;
    padding-right: 30px;
    font-size: 18px;
    a{
        color: $basefont;
    }
}

.sidebar{
    color: $basefont;
    background-color: $backgrd;
    height: 500px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 15px;
      -webkit-box-shadow: 0px 0px 5px  $accentColor;
      -moz-box-shadow: 0px 0px 5px  $accentColor;
    box-shadow: 0px 0px 5px  $accentColor;
    // .input-group{
    //   -webkit-box-shadow: 0px 0px 10px  $accentColor;
    //   -moz-box-shadow: 0px 0px 10px  $accentColor;
    // box-shadow: 0px 0px 10px  $accentColor;
    // }
    // .input-group-addon {
    //   background: $accentColor;
    //   color: white;
    // }
}

.instructions{
    margin-top: 40px;
    h4, ol{
        text-align: center;
    }
    ol{
        margin: 0 0 0 10px;
        padding: 0;
    }
}

.search{
    margin-top: 20px;
    .searchButton{
      background-color: $accentColor !important;
      color: $backgrd !important;
      padding:5px;
      border:2px solid $accentColor;
        -webkit-border-radius: 5px;
      border-radius: 5px;
        -webkit-box-shadow: 0px 0px 10px  $accentColor;
        -moz-box-shadow: 0px 0px 10px  $accentColor;
      box-shadow: 0px 0px 10px  $accentColor;
    }
    .searchBox{
      border: none;
      height: 30px;
        -webkit-box-shadow: 0px 0px 10px  $accentColor;
        -moz-box-shadow: 0px 0px 10px  $accentColor;
      box-shadow: 0px 0px 10px  $accentColor;
    }
}

.chunk{
    background-color: $backgrd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
      -moz-box-shadow: 0px 0px 15px $accentColor;
      -webkit-box-shadow: 0px 0px 15px $accentColor;
    box-shadow: 0px 0px 15px $accentColor;

    h2,h4,p,ul{
        text-align: center;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul li{
        margin: 3px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
        border-radius: 5px;
    }
    a{
        color:$basefont;
    }
}

.leader{
    margin: 5px 20px;

    h2{
        text-align: center;
        font-family: 'Passion One', cursive;
    }
    table{
        align-content: center;
    }
    a{
      color: $accentColor;
    }
}


.cell-topic{
    width: 20%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: $basefont !important;
    border-color: $basefont !important;
}

          /*============FORM Page============*/
.form{
  text-align: center;
  .actions{
    padding-top: 10px;
  }
}
input {
  color: $backgrd;
}
select{
  color: $backgrd;
}

          /*============USER SHOW Page============*/
.profile{
    padding-top: 20px;
    text-align: center;
}

.inventory{
    margin: 5px 20px;
}

          /* ============ DUEL Page ============  */

.topDuelRow{
  margin-right: 14px;
}
.battle{
  margin-left: 16px;
}

.duelTitle{
  margin-left: 28px;
  margin-bottom: 30px;
  text-align: center;
  h2{
    margin: 20px 20px 20px 30px;
  }
}

.battle{
  img{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#currentUser{
  margin-left: 20px;
  h5{
    font-weight: bold;
  }
  h5, p{
    text-align: center;
  }
}

#middleInfo{
  img{
    background-color: $basefont;
  }
  h4{
    text-align: center;
  }
}

#opponentUser{
  margin-right: 5px;
  h5{
    font-weight: bold;
  }
  h5, p{
    text-align: center;
  }
}


.opponentUser{
  padding-top: 10px;
    img{
      -moz-box-shadow: 0px 0px 15px $oppGlow;
      -webkit-box-shadow: 0px 0px 15px $oppGlow;
      box-shadow: 0px 0px 15px $oppGlow;
  }
}

.currentUser {
  padding-top: 10px;
  img{
    -moz-box-shadow: 0px 0px 15px $currGlow;
    -webkit-box-shadow: 0px 0px 15px $currGlow;
    box-shadow: 0px 0px 15px $currGlow;
  }
}
